{% include "htmltop.html" %}
{% if not  user.is_authenticated %}
 Welcome to the Task Manager
{% else %}
Welcome {{ user.first_name }}<br>
Teams:<br>
<a href="/lists/contents">Contents</a><br>
<a href="/lists/design">Design</a><br>
<a href="/lists/events">Events</a><br>
<a href="/lists/finance">Finance</a><br>
<a href="/lists/gl">Guest Lectures</a><br>
<a href="/lists/hospitality">Hospitality</a><br>
<a href="/lists/hr">HR</a><br>
<a href="/lists/ir">IR</a><br>
<a href="/lists/karnival">K!arnival</a><br>
<a href="/lists/logistics">Logistics</a><br>
<a href="/lists/marketing">Marketing</a><br>
<a href="/lists/media">Media</a><br>
<a href="/lists/projects">Projects</a><br>
<a href="/lists/qms">qms</a><br>
<a href="/lists/tech">Tech</a><br>
<a href="/lists/web">Web</a><br>
<a href="/lists/workshops">Workshops</a><br>
<a href="/lists/xceed">XCEED</a><br>
{% endif %}
{% include "htmlbottom.html" %}

