{% include "htmltop.html" %}
{% if not  user.is_authenticated %}
 Welcome to the Task Manager
{% else %}
Welcome {{ user.first_name }}<br>
Teams:<br>
<a href="/lists/contents">Contents</a>
<a href="/lists/design">Design</a>
<a href="/lists/gl">Guest Lectures</a>
<a href="/lists/hospitality">Hospitality</a>
<a href="/lists/logistics">Logistics</a>
<a href="/lists/media">Media</a>
<a href="/lists/karnival">K!arnival</a>
<a href="/lists/events">Events</a>
<a href="/lists/ir">IR</a>
<a href="/lists/hr">HR</a>
<a href="/lists/marketing">Marketing</a>
<a href="/lists/tech">Tech</a>
<a href="/lists/qms">qms</a>
<a href="/lists/finance">Finance</a>
<a href="/lists/web">Web</a>
<a href="/lists/web">Web</a>
<a href="/lists/web">Web</a>
<a href="/lists/web">Web</a>
{% endif %}
{% include "htmlbottom.html" %}

